body{
}

h3{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    min-height: 100vh;
}

.navigation{
    display: flex;
    border: solid purple;
    flex-direction: column;
    min-width: 200px;
    gap: 20px;
}

.content{
    flex-grow: 1;
}

ul{
    padding: 0;
    margin: 0;
}
.list-item{
    list-style-type: none;
}

.content{
    border: solid orange;
}

.task{
    border: solid green;
}